[Unit]
Description=LoRa Server
Documentation=https://docs.loraserver.io
Wants=network-online.target
After=network-online.target redis.service mosquitto.service

[Service]
WorkingDirectory=/opt/lora-gateway/bin
ExecStart=/opt/lora-gateway/bin/loraserver
Restart=on-failure

[Install]
WantedBy=multi-user.target
