[Unit]
Description=LoRa Gateway Bridge
Documentation=https://docs.loraserver.io
Wants=network-online.target
After=network-online.target mosquitto.service

[Service]
WorkingDirectory=/opt/lora-gateway/bin
ExecStart=/opt/lora-gateway/bin/lora-gateway-bridge
Restart=on-failure

[Install]
WantedBy=multi-user.target
